<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="fonts/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <title>React App</title>
</head>

<body>

  <!-- page header details-->
  <div class='row purple '>
    <div class="col s12 navbar-fixed white purple-text">
      <nav>
        <div class="nav-wrapper white">
          <a class="brand-logo left purple-text">BOOKSVILLE</a>
          <ul class="right purple-text">
            <li><a class='purple-text'>About us</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row">
      <img src='images/girl.png' class="col l4 m4 offset-m1 offset-l1 hide-on-small-only" id="pic" alt="BOOKSVILLE" style="margin-top: 7%;"
      />
      <!-- login and register tab -->
      <div class="col s12 l6 m6 offset-m1 offset-l1">
        <div>
          <ul class="tabs">
            <li class="tab col s3 offset-s3"><a href="#signup">SIGNUP</a></li>
            <li class="tab col s3"><a class="active" href="#login">LOGIN</a></li>
          </ul>
        </div>
        <!-- tab for registration-->
        <div id="signup" class="row">
          <div class='col s12 m12 l12 offset-m1 '>
            <div class='card front'>
              <div class='row'>
                <div class='col s10 m10 l10 offset-m1 offset-s1 offset-l1'>
                  <h5 class='center purple-text'>New User? Please fill your details and begin your journey with us!</h5>
                  <form>
                    <div class='row'>
                      <div class="input-field col s6">
                        <input id="firstname" type="text" class="validate">
                        <label for="firstname">First Name</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="lastname" type="text" class="validate">
                        <label for="lastname">Last Name</label>
                      </div>
                    </div>
                    <div class='row'>
                      <div class="input-field col s6">
                        <input id="email" type="text" class="validate">
                        <label for="email">Email</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="username" type="text" class="validate">
                        <label for="username">User Name</label>
                      </div>
                    </div>
                    <div class='row'>
                      <div class="input-field col s6">
                        <input id="password" type="text" class="validate">
                        <label for="password">Password</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="confirmpassword" type="text" class="validate">
                        <label for="confirmpassword">Confirm Password</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12 m6 l6">
                        <select class="icons">
                        <option value="" disabled selected>Select</option>
                        <option value="rookie" data-icon="images/rookie.jpg" class="left circle">Rookie</option>
                        <option value="bookworm" data-icon="images/bookworm.png" class="left circle">Bookworm  N2000/month</option>
                        <option value="voracious" data-icon="images/voracious.jpg" class="left circle">Voracious  N5000/month</option>
                        <option value="admin" data-icon="images/admin.jpg" class="left circle">Admin</option>
                      </select>
                        <label>Membership Level</label>
                      </div>
                      <p class='col s12 m6 l6'>
                        <input type="checkbox" id="agreed" />
                        <label for="agreed">"By checking this box, you agree to our Terms & Conditions"</label>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col s12 m4 l6">
                        <a class="waves-effect waves-light btn purple"><i class="material-icons right">account_box</i>SIGN UP</a>
                      </div>
                    </div>
                    <div class='row'>
                      <div class="col s6 m4 l4">
                        <p>Or signup with:</p>
                      </div>
                      <div class="col s12 m6 l6">
                        <a class="waves-effect waves-light btn purple"><i class="fa fa-google-plus"></i>GOOGLE PLUS</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- tab content for login tab-->
        <div id="login" class="row">
          <div class='col s12 m10 l10 offset-m1'>
            <div class='card front row'>
              <div class='col s10 m10 l8 offset-m1 offset-s1 offset-l2'>
                <h5 class='center purple-text'>Welcome back! Login to continue</h5>
                <form>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="username" type="text" class="validate">
                      <label for="username">User Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="text" class="validate">
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <a class="waves-effect waves-light btn purple"><i class="material-icons right">send</i>LOGIN</a>
                    </div>
                  </div>
                </form>
                <div class="row">
                  <div class="col s12">
                    <p>Or login with:</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <a class="waves-effect waves-light btn purple"><i class="fa fa-google-plus"></i>GOOGLE PLUS</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('select').material_select();
    });
  </script>

</body>
