
#background-image{
  width: 100%;
  height: 20%;
  background-image: url("./reading.jpg"); 
  background-size: cover;
   position: center;
    top:0;
    left:0;
    z-index:0;
}

.nav-wrapper {
  font-family: Comic Sans MS, cursive, sans-serif;
}

.greeting{
  font-family: Comic Sans MS, cursive, sans-serif;
}
 
.front{
  overflow: visible !important;
}
