//default fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
  font-family: 'Montserrat', sans-serif,
	Roboto,
	Oxygen-Sans,
	Ubuntu,
	Cantarell,
	"Helvetica Neue",
  sans-serif !important;
  font-weight: light;
}
#card-book {
  padding: 0px;
  padding-top: 20px;
  border-radius: 0 0 2px 2px;
  font-size: 10px !important;
}
.card-title {
  font-family:'Eczar', serif;
  font-size: 20px !important;
  // font-weight: bold !important;
}
.deleteColor{
  background-color: #4e75dc;
}
.editColor{
  background-color: #a6c2fa;
}
.book-buttons a:hover{
  background-color: #303f9f !important;
}
.brand-logo{
  font-family:'Eczar', serif;
}
.cat-head{
  font-family:'Eczar', serif;
  padding-top: 5%;
}
.cat{
  overflow: auto;
  max-height: 300px;
  margin-top: 15%;
}
.cat h5{
  margin-left: 10%;
}
.greeting{
  font-family:'Eczar', serif;
  margin-top: 10%;
}
.cat-name{
  font-family:'Eczar', serif;
  color: #303f9f;
}

.nav-wrapper ul{
  margin-right: 3%;
}
.booksville{
  margin-left: 3%;
}
.home{
  background:none !important;
   -webkit-box-shadow: none !important; 
   box-shadow: none !important; 
 }
input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  color: black;
}
.catCard{
  margin-top: 10%;
}
.front-signup{
  margin-top: 10%;
  overflow: visible !important;
}
.tabs{
  overflow-x: hidden;
  background-color: #303f9f ;
}
.tabs .indicator {
  color: white !important;
  background-color: white !important; 
}  

.tabs .tab a{
  color:white !important;
}

.tabs .tab a:hover {
  background-color: white!important;
  color: #303f9f !important;
} /*Text color on hover*/

.tabs .tab a.active {
  color: #303f9f !important;
  background-color: white;
} /*Background and text color when a tab is active*/

.input-field input:focus + label {
  color: #303f9f  !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #303f9f  !important;
  box-shadow: 0 1px 0 0 #303f9f  !important
}

.book-image{
  margin-top: 10% !important;
  margin-left: 20%;
  max-height: 70% !important;
  max-width: 60% !important;
}
.activator{
	width: auto;
  height: 180px !important;
  max-width: 100%;
  max-height: 100%;
	display:block;
	object-fit: contain;
}
Navlink{
  color: white;
}
.hello{
  margin-top:12% !important;
}

.background-set{
  height: 850px;
  background-color: #303f9f ;
 }
  
 .front{
   overflow: visible !important;
 }
 
 #pic{
   margin-top: 7%;
 }

 .signin{
 margin-top: 25%;
 }

 .profile{
   margin-top: 5%;
   
 }
.user{
  color: white;
  padding-bottom: 4% !important;
}
 .profile img{
  margin-top: 10%;
}

c{
  color:#455a64;
}
 .levelLink{
  margin-top: 2%;
  margin-bottom: 10%;
}
.level{
  margin: 2px;
}
.level-select{
  margin-bottom: 10%;
  margin-top: 10%;
}
.margin-fix{
  margin-bottom: 10%;
  margin-top: 10%;
}
.input-fix {
  padding-top: 10%;
}
.level-icon{
  margin-top: 10%;
}
.profile-level-icon p{
  margin-left: 20%;
}
.level-icon img{
  margin-top: 10%;
  max-height: 40px !important;
  max-width: 40px !important;
}
.profile-level-icon img{
  max-height: 30px !important;
  max-width: 30px !important;
}
.user-logo a{
  color: #303f9f;
}
.photo{
  border: 4px solid white;
  height: 200px !important;
  width: 200px !important;
  margin-top: 8%;
}

.details-left{
  margin-top: 2%;
}

.edit-form p{
  color: #303f9f;
}
 
.link-cursor{
  cursor: pointer !important;
}

.pagination li.active {
  background-color: #303f9f;
}

.pagination li:hover {
  background-color: #303f9f;
}

.pagination li a {
  color: #303f9f;
}

.pagination li a:hover {
  color: white!important;
}

.pagination li:disabled,
.pagination li[disabled]
 {
   cursor: not-allowed;
  background-color: #fff;
  & a:hover{
    color: grey !important;
  }
}

.swal-modal, .swal-icon--success {
  background-color: #303f9f!important;
}

.swal-icon, .swal-icon--warning, .swal-text, .swal-title {
  color: white !important;
  border-color: white !important;
  background-color: #303f9f!important;
}

.swal-icon--warning__body, .swal-icon--warning__dot {
  background-color: white !important;
}
.swal-button--danger, .swal-button--confirm, .swal-button{
  background-color: white !important;
  color: #303f9f!important;
}
.swal-icon--success__ring {
  border-color: #a5dc86 !important;
  
}
.swal-icon--success__line, .swal-icon--success__line--long .swal-icon--success__line--tip {
  background-color: #a5dc86 !important;
}
.swal-icon--success:before, .swal-icon--success:after, .swal-icon--success__hide-corners {
  background-color: #303f9f!important;
}
@keyframes pulseWarning {
  0%{
    border-color: white !important;
  }
  100%{
    border-color: white !important;
  }
}

.loader-body :before,
.loader-body :after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.loader-1 .loader-outter {
  position: absolute;
  border: 4px solid #303f9f;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

.loader-1 .loader-inner {
  position: absolute;
  border: 4px solid #303f9f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

tbody {
  display:block;
  height:500px;
  overflow:auto;
  }
  thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
  }
  thead {
  width: calc( 100% - 1em )
  }
  table {
  width:100%;
  }

.prefix {
  margin-top: 1%;
}
