//default fonts
body{
  font-family: 'Rubik', sans-serif,
  -apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Oxygen-Sans,
	Ubuntu,
	Cantarell,
	"Helvetica Neue",
	sans-serif !important;
}

.home{
  background:none !important;
   -webkit-box-shadow: none !important; 
   box-shadow: none !important; 
 }
input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  color: black;
}

.front-signup{
  margin-top: 10%;
  overflow: visible !important;
}
.tabs{
  overflow-x: hidden;
  background-color: #303f9f ;
}
.tabs .indicator {
  color: white !important;
  background-color: white !important; 
}  

.tabs .tab a{
  color:white !important;
}

.tabs .tab a:hover {
  background-color: white!important;
  color: #303f9f !important;
} /*Text color on hover*/

.tabs .tab a.active {
  color: #303f9f !important;
  background-color: white;
} /*Background and text color when a tab is active*/

.input-field input:focus + label {
  color: #303f9f  !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #303f9f  !important;
  box-shadow: 0 1px 0 0 #303f9f  !important
}

.book-image{
	max-height: 70% !important;
}
.activator{
	width: auto;
  height: 180px !important;
  max-width: 100%;
  max-height: 100%;
	display:block;
	object-fit: contain;
}
Navlink{
  color: white;
}
.hello{
  margin-top:12% !important;
}

.background-set{
  height: 850px;
  background-color: #303f9f ;
 }
  
 .front{
   overflow: visible !important;
 }
 
 #pic{
   margin-top: 7%;
 }

 .signin{
 margin-top: 25%;
 }

 .profile{
   margin-top: 5%;
   
 }
.user{
  color: white;
  padding-bottom: 4% !important;
}
 .profile img{
  margin-top: 10%;
}

c{
  color:#455a64;
}
 .levelLink{
  margin-top: 2%;
  margin-bottom: 10%;
}
.level{
  margin: 2px;
}
.level-select{
  margin-bottom: 10%;
  margin-top: 10%;
}
.margin-fix{
  margin-bottom: 10%;
  margin-top: 10%;
}
.level-icon{
  margin-top: 10%;
}
.level-icon img{
  margin-top: 10%;
  max-height: 40px !important;
  max-width: 40px !important;
}
.user-logo a{
  color: #303f9f;
}
.photo{
  border: 4px solid white;
  max-height: 200px !important;
  max-width: 200px !important;
  margin-top: 8%;
}

.details-left{
  margin-top: 2%;
}

.edit-form p{
  color: #303f9f;
}
 
.link-cursor{
  cursor: pointer !important;
}


