.tabs{
    overflow-x: hidden;
    background-color: #673ab7;
}
.tabs .indicator {
    color: white !important;
    background-color: white !important; 
}  

.tabs .tab a{
    color:white !important;
}

.tabs .tab a:hover {
    background-color: white!important;
    color: #673ab7!important;
} /*Text color on hover*/

.tabs .tab a.active {
    color: #673ab7!important;
    background-color: white;
 } /*Background and text color when a tab is active*/

 .input-field input:focus + label {
    color: #673ab7 !important;
  }
  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid #673ab7 !important;
    box-shadow: 0 1px 0 0 #673ab7 !important
  }



